[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
bandit = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
mkdocs = "*"
codecov = "*"

[packages]
toml = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
